/*
 変数定義用のファイルです 
 自由に書き換えてください
*/

/*========= Media Size ===============*/
$pc: 1024px; // PC
$sp: 800px; // スマホ

/*========= Font ===============*/
$font--primary: "Noto Sans JP", sans-serif;

/*========= Color ===============*/
$color--blue: #5b8fcb;
$color--green: #63c0cd;
$color--purple: #4e3a88;
$color--gray: #f7f7f7;
