# macOS のメタファイル
.DS_Store

# Sassで生成されるCSSファイル（出力先が分かっている場合）
/assets/styles/*.css
/assets/styles/*.css.map

# 除外から明示的に除外するファイル（追跡するファイル）
!/assets/styles/swiper-bundle.min.css

# VS Code設定（個人設定が不要な場合）
.vscode/
