@use "../global" as global;

.p-contact {
  font-weight: 500;
  .l-inner {
    margin-top: 130px;
    margin-bottom: 130px;
    @include global.sp {
      margin-top: 100px;
    }
  }
  h1 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
  }
  p {
    margin-bottom: 30px;
    padding: 20px;
  }
  &__radio-btn {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 130px;
    margin-bottom: 80px;
    accent-color: global.$color--blue;
    @include global.sp {
      margin: 30px 0 0 0;
    }

    input {
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    .wpcf7-radio {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 50px;
      @include global.sp {
        display: block;
      }
    }
  }
  &__form {
    &__row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      @include global.sp {
        display: block;
      }
      label {
        @include global.sp {
          margin-bottom: 10px;
        }
      }
      &--confirm {
        &:nth-of-type(1) {
          margin-top: 170px;
        }
        p {
          width: 65%;
          margin-bottom: 0;
          @include global.sp {
            width: 100%;
          }
        }
      }
    }
  }
  form {
    label {
      display: block;
    }
    .p-contact__form__row {
      position: relative;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      width: 100%;
      padding: 10px;
      border-radius: 3px;
      background-color: rgba(global.$color--blue, 0.1);
      @include global.sp {
        font-size: 1.6rem;
      }
    }
    input[type="textarea"] {
      height: 360px;
      padding-top: 5px;
      margin-bottom: 80px;
      vertical-align: top;
      @include global.sp {
        font-size: 1.6rem;
      }
    }
    input[type="checkbox"] {
      vertical-align: middle;
      width: 20px;
      height: 20px;
      accent-color: global.$color--blue;
    }
    label.required::after {
      content: "※";
      margin-left: 10px;
      font-size: 1.6rem;
    }
    input[type="submit"],
    input[type="button"] {
      display: block;
      padding: 10px 60px;
      margin: 0 auto;
      width: 200px;
      font-size: 1.6rem;
      font-weight: 600;
      background-color: global.$color--blue;
      color: #fff;
      border-radius: 3px;
      transition: 0.3s;
      cursor: pointer;
      &:nth-of-type(1) {
        margin-top: 150px;
        margin-bottom: 25px;
        &:hover {
          background-color: global.$color--green;
        }
      }
      &:nth-of-type(2) {
        width: 200px;
        margin-bottom: 200px;
        background-color: global.$color--green;
        &:hover {
          background-color: global.$color--blue;
        }
      }
    }
    .wpcf7-response-output {
      margin-top: 0;
      border: none;
      color: red;
      text-align: center;
    }
    a {
      color: global.$color--blue;
      border-bottom: global.$color--blue 1px solid;
    }
    .wpcf7-form-control-wrap {
      width: 60%;
      @include global.sp {
        width: 90%;
        max-width: 60%;
      }
    }
    .wpcf7-list-item {
      @include global.sp {
        margin-bottom: 20px;
      }
    }
  }

  &__thanks {
    h1 {
      margin-bottom: 110px;
      @include global.sp {
        margin-bottom: 30px;
      }
    }
    p {
      max-width: 600px;
      margin: 0 auto 30px auto;
    }
    &__index-btn {
      display: block;
      padding: 10px 60px;
      margin: 0 auto;
      width: 200px;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 600;
      background-color: global.$color--blue;
      color: #fff;
      border-radius: 3px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background-color: global.$color--green;
      }
    }
  }
}
