@use "../global" as global;

/*========= トップページ(front)用のCSS ===============*/

.p-front {
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-image: radial-gradient(#e5e3ee 2px, transparent 2px);
    background-size: 40px 40px; /* ドット間隔 */
    z-index: -1;
  }
  &__fv {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    &__main-img {
      position: absolute;
      right: 0;
      top: 40px;
      width: 50%;
      max-width: 600px;
      @include global.sp {
        left: 30%;
        width: auto;
        height: 80vh;
      }
    }

    &__content {
      position: relative;
      width: 50%;
      max-width: 500px;
      margin-left: 5%;
      z-index: 1;
      @include global.sp {
        position: absolute;
        width: 80%;
      }
    }
    &__catchcopy {
      margin-bottom: 15px;
      font-size: 2rem;
      line-height: 3rem;
      @include global.sp {
        font-size: 1.6rem;
      }
      &--purple {
        font-size: 2.7rem;
        font-weight: bold;
        color: global.$color--purple;
        @include global.sp {
          font-size: 2.2rem;
        }
      }
    }
    &__logo {
      width: 100%;
      margin-bottom: 25px;
      &__text {
        position: absolute;
        top: 80px;
        left: 10px;
        font-size: 2rem;
        font-weight: bold;
        @include global.sp {
          top: 100px;
          left: 5px;
          font-size: 1.6rem;
        }
      }
    }
    &__btn {
      display: flex;
      margin-bottom: 30px;
      gap: 30px;
      @include global.sp {
        display: none;
      }
    }

    &__award {
      display: flex;
      gap: 20px;
      img {
        width: auto;
        height: 100px;
        @include global.sp {
          height: 70px;
        }
      }
    }
    &__bottom-bg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  // コンセプト
  &__concept {
    position: relative;
    padding: 100px 0;
    background-color: #fff;
    z-index: 2;
    .c-catchcopy {
      margin-bottom: 120px;
    }
    &__explanation {
      display: flex;
      justify-content: space-between;
      @include global.sp {
        flex-direction: column;
      }
      img {
        width: 57%;
        max-width: 600px;
        @include global.sp {
          margin: 50px auto 0;
          width: 80%;
        }
      }
      &-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 2.6rem;
        list-style: decimal;
        font-size: 2rem;
        font-weight: 600;
        li::marker {
          font-size: 2.6rem;
        }
        span {
          font-weight: bold;
          color: global.$color--green;
        }
      }
    }
  }

  // エジソンマッチとは
  &__about {
    padding: 100px 0;
    background-color: global.$color--gray;
    &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      &-list {
        display: flex;
        @include global.sp {
          flex-direction: column;
          gap: 50px;
        }
      }
      &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__index {
        font-size: 4.6rem;
      }
      &__title {
        margin-top: -20px;
        font-weight: 600;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 280px;
        height: 280px;
        border: #7070700f 1px solid;
        border-radius: 50%;
        aspect-ratio: 1/1;
      }
      &__text {
        max-width: 210px;
        line-height: normal;
        color: #171717;
      }
      &--one {
        color: global.$color--purple;
        &::before {
          background-color: rgba(global.$color--purple, 0.06);
        }
      }
      &--two {
        color: global.$color--blue;
        &::before {
          background-color: rgba(#5470bd, 0.06);
        }
      }
      &--three {
        color: global.$color--green;
        &::before {
          background-color: rgba(global.$color--green, 0.06);
        }
      }
      > img {
        position: relative;
        max-width: 200px;
        padding-bottom: 20px;
      }
    }
  }
  // 特徴
  &__features {
    position: relative;
    background: #fff;
    &__backimg-left,
    &__backimg-right {
      position: absolute;
      width: 55%;
      max-width: 500px;
    }
    &__backimg-left {
      position: absolute;
      top: 200px;
      left: 0;
      @include global.sp {
        top: 250px;
      }
    }
    &__backimg-right {
      right: 0;
      bottom: 430px;
      @include global.sp {
        bottom: 500px;
      }
    }
    .l-inner {
      padding-top: 150px;
      padding-bottom: 110px;
    }
    .c-title--icon {
      margin-bottom: 65px;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 90px;
      @include global.sp {
        flex-direction: column;
      }
      img {
        width: 45%;
        max-width: 350px;
        z-index: 1;
      }
      &__content {
        width: 50%;
      }
      &__tag {
        width: fit-content;
        padding: 5px 22px;
        margin-bottom: 20px;
        font-weight: bold;
        color: #fff;
        background-color: global.$color--purple;
        border-radius: 20px;
      }
      &__title {
        margin-bottom: 20px;
        font-size: 2.2rem;
        span {
          font-weight: 800;
          color: global.$color--purple;
        }
      }
    }
  }
  // カスタムオブジェクト
  &__custom-object {
    padding-top: 90px;
    padding-bottom: 80px;
    background-color: global.$color--gray;
    p {
      margin-bottom: 50px;
    }
    img {
      width: 100%;
    }
  }
  // プラン
  &__plan {
    padding-top: 30px;
    padding-bottom: 150px;
    .c-title--icon {
      color: global.$color--green;
    }
    &__content {
      display: flex;
      justify-content: space-around;
      @include global.sp {
        flex-direction: column;
        align-items: center;
        gap: 50px;
      }
      &--check {
        li {
          position: relative;
          margin-left: 40px;
          padding-left: 20px;
          padding-bottom: 7px;
          font-size: 1.2rem;
          font-weight: normal;
        }
      }
    }
    &__card {
      position: relative;
      width: 350px;
      padding-bottom: 20px;
      background-color: #fff;
      box-shadow: 0 0 14px rgba(#000, 0.1);

      &--green {
        border-top: 15px solid global.$color--green;
        .p-front__plan__card__plan {
          color: global.$color--green;
        }
        .p-front__plan__content--check li::before {
          content: "";
          position: absolute;
          top: 3px;
          left: 0;
          width: 13px;
          height: 10px;
          background: url("../images/icons/check_green.svg") no-repeat
            center/contain;
        }
      }
      &--blue {
        border-top: 15px solid global.$color--blue;
        .p-front__plan__card__plan {
          color: global.$color--blue;
        }
        .p-front__plan__content--check li::before {
          content: "";
          position: absolute;
          top: 3px;
          left: 0;
          width: 13px;
          height: 10px;
          background: url("../images/icons/check_blue.svg") no-repeat
            center/contain;
        }
      }

      &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__title {
        margin-top: 30px;
        margin-bottom: 25px;
        font-size: 2.1rem;
      }
      &__plan {
        font-size: 2.3rem;
        font-weight: bold;
      }
      &__user {
        margin-bottom: 45px;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: normal;
        span {
          font-size: 1.4rem;
        }
      }
    }
    .c-btn__fixed {
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 90px;
      width: 230px;
      @include global.sp {
        margin-top: 30px;
      }
    }
  }

  // 導入の流れ
  &__flow {
    padding-top: 125px;
    padding-bottom: 185px;
    background-color: global.$color--gray;

    &__head {
      margin-top: 70px;
      margin-bottom: 70px;
      h3 {
        padding-bottom: 10px;
        margin-bottom: 20px;
        font-size: 1.9rem;
        border-bottom: 4px solid;
      }
      &--purple h3 {
        color: global.$color--purple;
        border-color: global.$color--purple;
      }
      &--green h3 {
        margin-top: 100px;
        color: global.$color--blue;
        border-color: global.$color--blue;
      }
    }
    &__step {
      &__contents {
        display: flex;
        gap: 50px;
        margin: 15px 0;
        @include global.sp {
          gap: 20px;
        }
        &:nth-of-type(4) {
          position: relative;
          margin-bottom: 150px;
          &::after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            bottom: -90px;
            left: 50%;
            transform: translateX(-50%);
            border-left: 40px solid transparent;
            border-right: 40px solid transparent;
            border-top: 25px solid global.$color--purple;
          }
        }
        &__left {
          display: flex;
          flex-direction: column;
          align-items: center;
          @include global.sp {
            flex: 0 0 60px;
          }
          p {
            font-size: 1.5rem;
            font-weight: bold;
            @include global.sp {
              font-size: 1.3rem;
            }
          }
        }
        &__right {
          h4 {
            margin-bottom: 16px;
            font-size: 1.8rem;
            font-weight: 600;
            @include global.sp {
              margin-bottom: 5px;
              font-size: 1.6rem;
            }
          }
          ul {
            margin-left: 30px;
            list-style: disc;
            li {
              margin: 10px 0;
            }
          }
        }
      }
    }
  }
  // よくあるご質問
  &__faq {
    padding-top: 90px;
    padding-bottom: 150px;
    .c-title--icon {
      color: global.$color--blue;
      margin-bottom: 70px;
    }
    &__accordion {
      max-inline-size: 90%;
      margin-bottom: 15px;
    }
    &__summary {
      display: flex;
      gap: 20px;
      align-items: center;
      height: 60px;
      background-color: #fff;
      box-shadow: #00000029 0 0 9px;
      border-radius: 3px;
      cursor: pointer;
      transition: 0.3s;
      @include global.sp {
        height: fit-content;
        gap: 10px;
      }
      &::-webkit-details-marker {
        display: none;
      }
    }
    &__item {
      display: grid;
      margin-bottom: 15px;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.5s;
      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
        border-radius: 50%;
        aspect-ratio: 1/1;
        @include global.sp {
          width: 30px;
          height: 30px;
          font-size: 1.8rem;
        }
      }
      &__inner {
        display: flex;
        gap: 20px;
        overflow: hidden;
      }
      &__text {
        font-weight: 600;
        flex: 1;
        @include global.sp {
          padding: 10px;
          line-height: 1.9rem;
        }
      }
      &__question {
        &__icon {
          background-color: global.$color--blue;
        }
        &__btn {
          // display: inline-block;
          position: relative;
          width: 50px;
          height: 50px;
          cursor: pointer;
          transition: 0.3s;
          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 50%;
            width: 20px;
            height: 3px;
            border-radius: 3px;
            transition: 0.3s;
            background-color: global.$color--blue;
          }
          &::after {
            transform: rotate(90deg);
          }
        }
      }
      &__answer {
        overflow: hidden;
        &__icon {
          margin-top: 20px;
          background-color: global.$color--green;
        }
        &__text {
          margin-right: 80px;
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
    }
    details[open] &__item__question__btn::after {
      opacity: 0;
    }
    details[open] &__item {
      grid-template-rows: 1fr;
    }
  }
  // 導入企業
  &__customer {
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: #fff;
    p {
      margin-bottom: 30px;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      span {
        font-size: 1.9rem;
        color: global.$color--green;
      }
    }
    img {
      width: 70%;
      max-width: 750px;
      margin: 0 auto;
      @include global.sp {
        width: 80%;
      }
    }
  }
}
