@use "../global" as global;

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  background: rgba(255, 255, 255, 0.7); /* 半透明の背景 */
  backdrop-filter: blur(8px); /* 背景のぼかし */
  -webkit-backdrop-filter: blur(8px); /* Safari対応 */
  &__inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 1200px;
    @media screen and (max-width: 1000px) {
      justify-content: space-between;
    }

    button {
      padding: 10px 20px;
      font-size: 1.3rem;
      font-weight: bold;
      color: #fff;
      background-color: global.$color--blue;
      border-radius: 3px;
      transition: 0.3s;
      &:hover {
        background-color: global.$color--green;
      }
    }
  }
  &__logo {
    width: 200px;
    padding-bottom: 10px;
  }
  &__nav {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 650px;
      min-width: 500px;
      font-size: 1.6rem;
      font-weight: 500;
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
  }
}
