@use "../global" as global;

.l-sidebar {
  position: fixed;
  bottom: 10%;
  right: 3%;
  opacity: 0;
  z-index: 99;
  pointer-events: none;
  transition: 0.3s;
  @include global.sp {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    left: 5%;
    opacity: 1;
  }
  &__totop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    margin: 0px 20px 20px auto;
    border-radius: 100%;
    background-color: global.$color--blue;
    transition: 0.2s ease-in-out;
    @include global.sp {
      width: 33px;
      height: 33px;
      margin: 0;
    }
    img {
      width: 26px;
      @include global.sp {
        width: 15px;
      }
    }
    &:hover {
      transform: translateY(-2px);
      background-color: darken(global.$color--blue, 10%);
    }
  }
  &__cta-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .c-btn-cta {
      justify-content: space-between;
      width: 180px;
      padding: 10px 11px 10px 20px;
      font-size: 1.4rem;
      &__arrow {
        width: 26px;
      }
    }
  }
  &.is-visible {
    opacity: 1;
    pointer-events: auto;
  }
}
